nav{
    background-color: rgb(27, 173, 27);
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
}

#logo{
    height: 60px;
    width: auto;
    margin: 2px;
}

nav#nav2{
    background-color: rgb(27, 173, 27);
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
}

li{
    list-style: none;
}

.icon{
    font-size: 28px;
    padding: 0 10px;
    color: black;
}